@using shopthethao.Models
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- jQuery -->
<script src="/Assets/Admin/vendors/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="row top_tiles">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    @{var totalOrder = ViewBag.totalOrder;}
                    <div class="icon"><i class="fa fa-file-text"></i></div>
                    <div class="count">@totalOrder</div>
                    <h3>Đơn đặt hàng</h3>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    @{var totalProduct = ViewBag.totalProduct;}
                    <div class="icon"><i class="fa fa-table"></i></div>
                    <div class="count">@totalProduct</div>
                    <h3>Sản phẩm</h3>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    @{var totalWraning = ViewBag.totalWraning;}
                    <div class="icon"><i class="fa fa-file-o"></i></div>
                    <div class="count">@totalWraning</div>
                    <h3>Đơn chờ duyệt</h3>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    @{var totalUser = ViewBag.totalUser;}
                    <div class="icon"><i class="fa fa-user"></i></div>
                    <div class="count">@totalUser</div>
                    <h3>Tài khoản</h3>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="dashboard_graph x_panel">
                    <div class="row x_title">
                        <div class="col-md-6">
                            <h3>Thống kê doanh thu <small>theo năm</small></h3>
                          
                        </div>
                      
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-lg-1" style="padding:0px;">
                                                <p >Chọn năm: </p>
                                            </div>
                                            <div class="col-lg-10">
                                                <select id="dropNam" class="selectpicker" style="width:60px;height:25px;">
                                                    @foreach (var item in ViewData["yearDDH"] as List<int>)
                                                    {
                                                        <option value="@item">@item</option>
                                                    }
                                                </select>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="panel-body" id="divthongketheonam">
                                        <canvas id="canvasNam" height="130"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="dashboard_graph x_panel">
                    <div class="row x_title">
                        <div class="col-md-6">
                            <h3>Thống kê <small></small></h3>
                        </div>

                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-2">
                                <div class="col-lg-2" style="padding:0px;">
                                    <p style="float:right;">Chọn: </p>
                                </div>
                                <div class="col-lg-10">
                                     <select id="dropThongKe" class="selectpicker" style="width:120px;height:25px;">
                                         <option value="1">Loại Sản Phẩm</option>
                                         <option value="2">Hãng Sản Xuất</option>
                                         <option value="3">Sản Phẩm</option>
                                     </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="col-lg-4" style="padding:0px;">
                                    <p style="float:right;">Chọn tháng: </p>
                                </div>
                                <div class="col-lg-8">
                                    <select id="dropThang" class="selectpicker" style="width:70px;height:25px;">
                                        <option value="13">Tất cả</option>
                                        @for (var item = 1; item < 13; item++)
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-9">
                                <div class="col-lg-6">
                                    <div class="panel">
                                        <div class="panel-body" id="divthongketheodanhmuc">
                                            <canvas id="canvas" height="300"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                
                            </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>

    </div>
<!-- /page content -->
<script>
    function OnSuccess1(reponse) {
        console.log(reponse);
        var arrDoanhThuTheoThang = new Array(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0);
        var length = Object.keys(reponse).length;
        for (var i = 0 ; i < length ; i++) {
            arrDoanhThuTheoThang.splice(reponse[i].Label - 1, 1, reponse[i].DoanhThu);
        }
        var MONTHS = ["Jan", "Feb", "Mar", "Apr", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"];
        var config = {
            type: 'line',
            data: {
                labels: MONTHS,
                datasets: [{
                    label: "Doanh thu",
                    backgroundColor: "#FF5733",
                    borderColor: "#FF5733",
                    data: arrDoanhThuTheoThang,
                    fill: false,
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Thống Kê Doanh Thu Tháng'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Tháng'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'triệu VNĐ'
                        }
                    }]
                }
            }
        };
        var ctx = document.getElementById("canvasNam").getContext("2d");
        window.myLine = new Chart(ctx, config);
    }
    $.ajax({
        url: "@Url.Action("thongKeTheoThang")",
        method: "POST",
    async: false,
    data: { id: 2017 },
    success: OnSuccess1,
    });
</script>
<script>
    function OnSuccess_(reponse) {
        //console.log(reponse);
        var arrLabel = new Array();
        var arrDoanhThu = new Array();
        var arrColor = new Array();
        var length = Object.keys(reponse).length;
        if (length == 0) {
            arrDoanhThu.push(1);
            arrLabel.push("Không có doanh thu");
        }
        else {
            for (var i = 0 ; i < length ; i++) {
                arrLabel.push(reponse[i].Label);
                arrDoanhThu.push(reponse[i].DoanhThu);
            }
        }
        console.log(arrDoanhThu);
        console.log(arrLabel);
        // Vẽ biểu đồ
        var data = {
            datasets: [{
                data: arrDoanhThu,
                backgroundColor:
                    ["#6c3483", "#45b39d", "#ccd1d1", "#eaf2f8", "#eafaf1", "#fbfcfc", "#aed6f1",
                        "#abb2b9", "#eaecee", "#f8c471", "#7b241c", "#c0392b", "#d5dbdb", "#e74c3c",
                        "#bfc9ca", "#e8daef", "#a569bd", "#fdedec", "#cb4335", "#797d7f", "#ebedef",
                        "#f0f3f4", "#f1c40f", "#138d75", "#fad7a0", "#273746", "#fdf2e9", "#e8f8f5",
                        "#7f8c8d", "#f5b7b1", "#1a5276", "#78281f", "#873600", "#626567", "#b7950b",
                        "#2980b9", "#a93226", "#82e0aa", "#cd6155", "#17a589", "#229954", "#e67e22",
                        "#ecf0f1", "#117a65", "#e5e7e9", "#f1c40f", "#16a085", "#d6dbdf", "#d35400",
                        "#85c1e9", "#85929e", "#16a085", "#1e8449", "#d0d3d4", "#aab7b8", "#d4e6f1",
                        "#58d68d", "#f9ebea", "#616a6b", "#8e44ad", "#b9770e", "#212f3d", "#935116",
                        "#ebf5fb", "#7dcea0", "#c0392b", "#28b463", "#7fb3d5", "#ec7063", "#a9dfbf",
                        "#9b59b6", "#f8f9f9", "#52be80", "#73c6b6", "#d5f5e3", "#212f3c", "#95a5a6",
                        "#48c9b0", "#ecf0f1", "#99a3a4", "#af7ac5", "#5d6d7e", "#2874a6", "#a2d9ce",
                        "#7d3c98", "#7e5109", "#1abc9c", "#abebc6", "#76448a", "#2ecc71", "#dc7633",
                        "#fef9e7", "#fae5d3", "#196f3d", "#b2babb", "#f9e79f", "#9a7d0a", "#d4ac0d",
                        "#8e44ad", "#cacfd2", "#9c640c", "#633974", "#3498db", "#f4f6f6", "#5499c7",
                        "#e59866", "#d0ece7", "#fbeee6", "#f5eef8", "#f39c12", "#fdfefe", "#bdc3c7",
                        "#fdebd0", "#a9cce3", "#d35400", "#e5e8e8", "#2471a3", "#b03a2e", "#117864",
                        "#fadbd8", "#ca6f1e", "#f1948a", "#909497", "#979a9a", "#f2f4f4", "#f4d03f",
                        "#707b7c", "#f5b041", "#17202a", "#5b2c6f", "#b3b6b7", "#aeb6bf", "#0e6655",
                        "#424949", "#839192", "#2ecc71", "#7b7d7d", "#e6b0aa", "#1c2833", "#239b56",
                        "#2e4053", "#4a235a", "#148f77", "#e67e22", "#0e6251", "#9b59b6", "#d6eaf8",
                        "#1b2631", "#d5d8dc", "#2c3e50", "#f2f3f4", "#bdc3c7", "#1f618d", "#21618c",
                        "#784212", "#f7f9f9", "#186a3b", "#bb8fce", "#76d7c4", "#f5cba7", "#eb984e",
                        "#a6acaf", "#d2b4de", "#145a32", "#515a5a", "#1d8348", "#f39c12", "#566573",
                        "#d98880", "#e74c3c", "#ba4a00", "#edbb99", "#f4ecf7", "#283747", "#2980b9",
                        "#f7dc6f", "#e9f7ef", "#fef5e7", "#34495e", "#f6ddcc", "#d68910", "#512e5f",
                        "#d7dbdd", "#2e86c1", "#943126", "#808b96", "#154360", "#0b5345", "#3498db",
                        "#2c3e50", "#c39bd3", "#34495e", "#27ae60", "#641e16", "#1abc9c", "#af601a",
                        "#95a5a6", "#5dade2", "#922b21", "#f2d7d5", "#eaeded", "#e8f6f3", "#f4f6f7",
                        "#a04000", "#d7bde2", "#fcf3cf", "#27ae60", "#6e2c00", "#d4efdf", "#7d6608",
                        "#ebdef0", "#f0b27a", "#884ea0", "#1b4f72"

                ],
            }],
            labels: arrLabel,
        
        };
        var options= {
            responsive: true,
            title: {
                display: true,
                text: 'Thống Kê Doanh Thu Theo Tháng'
            },
        }
        var canvas = document.getElementById("canvas");

        var myDoughnutChart = new Chart(canvas, {
            type: 'doughnut',
            data: data,
            options:options
        });

        //swal("Good", "Thành công", "success");
    }
    function OnErrorCall_(repo) {
        swal("Error", "Lỗi không kết nối Sever", "error");
    }
    $.ajax({
        url: "@Url.Action("thongKeDoanhThu")",
        method: "POST",
    async: false,
    data: { id: 1},
    success: OnSuccess_,
        error: OnErrorCall_
    });

    $('#dropThongKe').change(function (e) {
        $('#canvas').remove(); // this is my <canvas> element
        $('#divthongketheodanhmuc').append('<canvas id="canvas" height="300"><canvas>');
        var value = $('#dropThongKe').val();
        var nam=$('dropNam').val();
        var thang=$('dropThang').val();
        //Thống kế doanh thu 
        $.ajax({
            url: "@Url.Action("thongKeDoanhThu")",
            method: "POST",
        async: false,
        data: { id: value, nam: nam,thang:thang},
        success: OnSuccess_,
        error: OnErrorCall_
    });
    });
    $('#dropThang').change(function (e) {
        $('#canvas').remove(); // this is my <canvas> element
        $('#divthongketheodanhmuc').append('<canvas id="canvas" height="300"><canvas>');
        var value = $('#dropThongKe').val();
        var nam=$('#dropNam').val();
        var thang=$('#dropThang').val();
        //Thống kế doanh thu 
        $.ajax({
            url: "@Url.Action("thongKeDoanhThu")",
            method: "POST",
        async: false,
        data: { id: value , nam: nam,thang:thang},
        success: OnSuccess_,
        error: OnErrorCall_
    });
    });
</script>