@model shopthethao.Models.TaiKhoanAdmin
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Thông tin tài khoản</h3>
            </div>
            <!-- <div class="title_right">
            </div> -->
        </div>
        <div class="clearfix" style="padding-bottom:50px;"></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-6">
                        <div>
                            <img src="~/Assets/Client/images/home/user.png" alt="..." class="img-rounded" width="200px" height="200px" />
                        </div>
                        <div style="padding: 30px;">
                            <p><b>Loại tài khoản: </b>SEO</p>
                        </div>
                    </div>
                    <form data-toggle="validator" role="form" action="@Url.Action("ChangeProfile", "Profile")" method="post">
                        <input type="hidden" name="id" value="@Session["MaTaiKhoanAdmin"]" />
                        <div class="col-sm-6" style="padding:0px;">
                            <div class="form-group row" style="margin-bottom:0px;">
                                <label for="example-text-input" class="col-2 col-form-label">Họ và tên</label>
                                <div class="col-10">
                                    <input class="form-control" type="text" name="name" value="@Model.TenHienThi" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group row" style="margin-bottom:0px;">
                                <label for="example-text-input" class="col-2 col-form-label">Email</label>
                                <div class="col-10">
                                    <input class="form-control" name="email" type="email" value="@Model.Email" data-error="Email không đúng định dạng" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group row" style="margin-bottom:0px;">
                                <button type="reset" class="btn btn-custom">Nhập lại</button>
                                <button type="submit" class="btn btn-custom">Lưu chỉnh sửa</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <form data-toggle="validator" role="form" action="@Url.Action("ChangePassword", "Profile")" method="post">
                        <input type="hidden" name="id" value="@Session["MaTaiKhoanAdmin"]" />
                        @if (Session["DoiMatKhauAdminThatBai"] != null)
                        {
                            <div class="form-group row">
                                <label for="example-text-input" class="col-10 col-form-label" style="color:red;">Mật khẩu cũ không đúng</label>
                            </div>
                        }
                        <div class="form-group row">
                            <label for="example-text-input" class="col-2 col-form-label">Mật khẩu cũ</label>
                            <div class="col-10">
                                <input class="form-control" type="password" name="password" placeholder="Mật khẩu cũ" required />
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-2 col-form-label">Mật khẩu mới (ít nhất 8 kí tự)</label>
                            <div class="col-10">
                                <input class="form-control" type="password" data-minlength="8" id="inputPassword" placeholder="Mật khẩu mới" required>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-2 col-form-label">Nhập lại mật khẩu mới</label>
                            <div class="col-10">
                                <input class="form-control" type="password" name="newPassword" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Nhập lại mật khẩu mới không trùng" placeholder="Nhập lại mật khẩu mới" required>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <button type="submit" class="btn btn-custom">Đổi mật khẩu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


