@model List<shopthethao.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="active">Giỏ hàng</li>
            </ol>
        </div>
        @if (Model.Count > 0)
            {
        <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                        <tr class="cart_menu">
                            <td class="image"><b>Sản phẩm</b></td>
                            <td class="description"></td>
                            <td class="price"><b>Giá</b></td>
                            <td class="quantity"><b>Số lượng</b></td>
                            <td class="total"><b>Tổng tiền</b></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="cart_product">
                                    <div style="width:100px;height:100px;">
                                        <a href=""><img src="~/Assets/Product/@item.Product.MaSP/@item.Product.URLAnhDaiDien" alt="" style="max-height:100%;max-width:100%;"></a>
                                    </div>
                                    
                                </td>
                                <td class="cart_description" style="padding-left:20px;">
                                    <h4><a href="">@item.Product.TenSanPham</a></h4>
                                    <p>Mã sản phẩm: @item.Product.MaSP</p>
                                </td>
                                <td class="cart_price">
                                    <p>@string.Format("{0:n0}", item.Product.GiaSanPham)</p> 
                                </td>
                                <td class="cart_quantity">
                                    <div class="cart_quantity_button">
                                        <a class="cart_quantity_up" href=""> + </a>
                                        <input class="cart_quantity_input txtQuantity" type="number" data-id="@item.Product.MaSanPham" value="@item.Quantity" name="quantity" autocomplete="off" style="width: 50px;" min="1">
                                        <a class="cart_quantity_down" href=""> - </a>
                                    </div>
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price">@string.Format("{0:n0}", item.Product.GiaSanPham * item.Quantity) VNĐ</p>
                                </td>
                                <td class="cart_delete">
                                    <a data-id="@item.Product.MaSanPham" class="btn-delete" href=""><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
        </div>
        <div class="col-sm-12" style="padding:0px;">
            <div class="login-form pull-right" style="padding:20px 0px 50px 0px;">
                <button id="btnContinue" class="btn btn-default btn-custom">Quay về cửa hàng</button>
                <button id="btnDeleteAll" class="btn btn-default btn-custom">Xóa tất cả</button>
                <button id="btnUpdate" class="btn btn-default btn-custom">Cập nhập</button>
                <button class="btn btn-default btn-custom" onclick="location.href='@Url.Action("Payment","Cart", new { ID = Session["MaTaiKhoan"]})'" >Thanh toán</button>
            </div>
        </div>
        }
        else
        {
            <span class="alert alert-danger">Chưa có sản phẩm nào trong giỏ hàng</span>
        }

    </div>
    
</section>

