
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

        <!-- Content Header (Page header) -->
<!-- <section class="content-header">
  <h1>
    Data Tables
    <small>advanced tables</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Tables</a></li>
    <li class="active">Data tables</li>
  </ol>
</section> -->
<div class="page-header">
    <div class="container-fluid">
        <div class="pull-right" style="padding:25px 0px 0px 0px;">
            <button type="button" data-toggle="tooltip" title="Xóa" class="btn btn-danger" onclick="confirm('Xóa/Gỡ bỏ sẽ không phục hồi lại được! Bạn có chắc chắn muốn thực hiện việc này?') ? $('#form-product').submit() : false;"><i class="fa fa-trash-o"></i></button>
        </div>
        <h1>Đơn đặt hàng</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> Danh sách đơn đặt hàng</h3>
        </div>
        <div class="panel-body">
            <div class="well">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="input-name">Mã đơn hàng</label>
                            <input type="text" name="filter_name" value="" placeholder="Mã đơn hàng" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-model">Tên sản phẩm</label>
                            <input type="text" name="filter_name" value="" placeholder="Tên sản phẩm" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="input-price">Mã khách hàng</label>
                            <input type="text" name="filter_price" value="" placeholder="Mã khách hàng" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-quantity">Ngày đặt hàng</label>
                            <input type="date" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="input-status">Mã sản phẩm</label>
                            <input type="text" name="filter_quantity" value="" placeholder="Mã sản phẩm" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-quantity">Trạng thái</label>
                            <select name="filter_status" class="form-control">
                                <option value="*"></option>
                                <option value="1">Đã giao hàng</option>
                                <option value="0">Chưa giao hàng</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-search"></i> Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main content -->
    <div class="col-xs-12">
        <div class="box">

            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="5%">ID</th>
                            <th width="10%">Mã khách hàng</th>
                            <th>Tên khách hàng</th>
                            <th>Ngày đặt</th>
                            <th>Số lượng</th>
                            <th>Tổng tiền</th>
                            <th style="/*width: 100px;*/">Trạng thái</th>
                            <th width="15%">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*@foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.idKhachHang</td>
                                <td>@item.TaiKhoan.Name</td>
                                <td>@item.NgayDat</td>
                                <td>@item.SoLuong</td>
                                <td>@string.Format("{0:N0}", @item.TongTien) &#x20ab;</td>
                                <td>
                                    @if (item.TrangThai == 1)
                                    {
                                        <span class="badge bg-yellow">Chưa giao</span>
                                    }
                                    else if (item.TrangThai == 2)
                                    {
                                        <span class="badge bg-lime">Đang giao</span>
                                    }
                                    else if (item.TrangThai == 3)
                                    {
                                        <span class="badge bg-green">Đã thanh toán</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-red">Đã hủy</span>
                                    }
                                </td>
                                <td>
                                    <a href="@Url.Action("ChiTiet", "DonHang", new {id=@item.ID })">Xem chi tiết</a>

                                    <a @if (item.TrangThai == 3) { @Html.Raw("class='tat'") } onclick="return xacNhanXoa('Bạn có muốn xóa không ?')" href="@Url.Action("Xoa", "DonHang", new {id = @item.ID})" style="margin-left: 10px;">
                                        <button class="btn btn-sm btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        }*@
                    </tbody>
                </table>
            </div>

            @if (ViewBag.totalPage > 0)
            {
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-0">
                            <ul class="pagination">
                                @if (ViewBag.curPage != 1)
                                {
                                    <li><a href="?page=@(ViewBag.curPage - 1)">«</a></li>
                                }

                                @for (int i = 1; i <= ViewBag.totalPage; i++)
                                {
                                    if (ViewBag.curPage == i)
                                    {
                                        <li class="active"><a href="?page=@i">@i</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="?page=@i">@i</a></li>
                                    }
                                }
                                @if (ViewBag.curPage != ViewBag.totalPage)
                                {
                                    <li><a href="?page=@(ViewBag.curPage + 1)">»</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

