
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var bestProduct = (List<shopthethao.Models.SanPham>)ViewBag.BestProduct;
    var newProduct_1 = (List<shopthethao.Models.SanPham>)ViewBag.NewProduct_1;
    var newProduct_2 = (List<shopthethao.Models.SanPham>)ViewBag.NewProduct_2;
}

@Html.Partial("~/Views/Shared/_PartialSlide.cshtml")
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">Sản phẩm bán chạy</h2>
                    @foreach (var item in bestProduct)
                    {
                        <div class="col-sm-3">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="@Url.Action("Detail", "Product", new { id = @item.MaSanPham})"><img src="~/Assets/Product/@item.MaSP/@item.URLAnhDaiDien" alt="" /></a>
                                        <a href="@Url.Action("Detail", "Product", new { id = @item.MaSanPham})"><h4>@item.TenSanPham</h4></a>
                                        <h5>@item.GiaSanPham VNĐ</h5>
                                        @if (Session["TenDangNhap"] != null)
                                        {
                                        <a href="@Url.Action("AddItem", "Cart", new { productId = @item.MaSanPham, quantity = 1 })" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                        }
                                        else
                                        {
                                            <a href="#" data-toggle="modal" data-target="#myModalLogin" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                            
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div><!--features_items-->
                <div class="recommended_items">
                    <!--recommended_items-->
                    <h2 class="title text-center">Sản phẩm mới</h2>
                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                @foreach (var item in newProduct_1)
                                {
                                    <div class="col-sm-3">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <a href="@Url.Action("Detail", "Product", new { id = @item.MaSanPham})"><img src="~/Assets/Product/@item.MaSP/@item.URLAnhDaiDien" alt="" /></a>
                                                    <a href="@Url.Action("Detail", "Product", new { id = @item.MaSanPham})"><h4>@item.TenSanPham</h4></a>
                                                    <h5>@item.GiaSanPham VNĐ</h5>
                                                    @if (Session["TenDangNhap"] != null)
                                                    {
                                                        <a href="@Url.Action("AddItem", "Cart", new { productId = @item.MaSanPham, quantity = 1 })" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                                    }
                                                    else
                                                    {
                                                        <a href="#" data-toggle="modal" data-target="#myModalLogin" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>

                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                            <div class="item">
                                @foreach (var item in newProduct_2)
                                {
                                    <div class="col-sm-3">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <a href="@Url.Action("Detail", "Product", new { id = @item.MaSanPham})"><img src="~/Assets/Product/@item.MaSP/@item.URLAnhDaiDien" alt="" /></a>
                                                    <a href="@Url.Action("Detail", "Product", new { id = @item.MaSanPham})"><h4>@item.TenSanPham</h4></a>
                                                    <h5>@string.Format("{0:n0}", item.GiaSanPham) VNĐ</h5>
                                                    @if (Session["TenDangNhap"] != null)
                                                    {
                                                        <a href="@Url.Action("AddItem", "Cart", new { productId = @item.MaSanPham, quantity = 1 })" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                                    }
                                                    else
                                                    {
                                                        <a href="#" data-toggle="modal" data-target="#myModalLogin" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>

                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div><!--/recommended_items-->
            </div>
        </div>
    </div>
</section>

