@model shopthethao.Models.SanPham
@using shopthethao.Models
@{ 

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                <li class="active">Chi tiết sản phẩm</li>
            </ol>
        </div>
        <div class="row">
            <div class="col-sm-12 padding-right">
                <div class="product-details">
                    <!--product-details-->
                    <div class="col-sm-6" style="padding:0px;">
                            
                        <div id="similar-product" class="carousel slide view-product" data-ride="carousel" style="margin-top:10px;">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="~/Assets/Product/@Model.MaSP/@Model.URLAnhDaiDien" alt="" style="max-height:100%;max-width:100%;" />
                                </div>
                                @{
                                    var listPic = Model.HinhAnhs.Where(x => x.MaSanPham == Model.MaSanPham).ToList();

                                        }
                                @foreach (var item in listPic as List<HinhAnh>)
                                {
                                    <div class="item">
                                        <img src="~/Assets/Product/@item.SanPham.MaSP/@item.URL" alt="" style="max-height:100%;max-width:100%;" />
                                    </div>
                                }
                            </div>

                            <!-- Controls -->
                            <a class="left item-control" href="#similar-product" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right item-control" href="#similar-product" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>

                    </div>
                    <div class="col-sm-6" style="padding:0px;">
                            <div class="product-information">
                                <!--/product-information-->
                                <h1>@Model.TenSanPham</h1>
                                <p style="font-size:16px;">Mã sản phẩm: @Model.MaSanPham</p>
                                <img src="/Assets/Client/images/product-details/rating.png" alt="" />
                                <div>
                                    <form data-toggle="validator" role="form" action="@Url.Action("AddItem","Cart")" method="get">
                                        <span>
                                            <p>
                                                <span>@string.Format("{0:n0}", @Model.GiaSanPham) VNĐ</span>
                                            </p>
                                            <label style="font-size:16px;">Số lượng:</label>
                                            <input type="hidden" name="productId" value="@Model.MaSanPham"/>
                                            <input type="number" value="1" min="1" name="quantity" />
                                            <button type="submit" class="btn btn-fefault cart"><i class="fa fa-shopping-cart"></i>Thêm</button>

                                        </span>
                                    </form>
                                </div>
                                
                                @if (Model.SoLuongTon < 0)
                                {
                                    <p style="font-size:16px;"><b>Trạng thái: Tạm hết hàng</b></p>
                                }
                                else
                                {
                                    <p style="font-size:16px;"><b>Trạng thái: Còn hàng</b></p>
                                }
                                <p style="padding-top:10px;font-size:16px;"><b>Giảm giá:</b> @if(Model.MaKhuyenMai != 1){<img src="~/Assets/Client/images/home/sale.png" class="new" alt="" />}(@Model.KhuyenMaiSanPham.TenKhuyenMai)</p>
                                @if (Model.MaHangSanXuat != null)
                                {
                                    <p style="padding-top:10px;font-size:16px;"><b>Thương hiệu:</b> @Model.HangSanXuat.TenHangSanXuat</p>
                                }
                                
                            </div><!--/product-information-->
                        
                    </div>
                </div><!--/product-details-->

                <div class="category-tab shop-details-tab">
                    <!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#detail">Thông tin chi tiết</a></li>
                            <li ><a data-toggle="tab" href="#comment">Nhận xét</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="#detail">
                            <div class="col-sm-12">
                                <ul>
                                    <li><a href=""><i class="fa fa-user"></i>Đăng lúc</a></li>
                                    <li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
                                    <li><a href=""><i class="fa fa-calendar-o"></i>24 04 2017</a></li>
                                </ul>
                                <p>@Model.MoTa</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="#comment">
                            <div class="col-sm-12">
                                <p>@Model.MoTa</p>
                            </div>
                        </div>
                    </div>
                </div><!--/category-tab-->

                <div class="recommended_items">
                    <!--recommended_items-->
                    <h2 class="title text-center">Sản phẩm cùng loại</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                @foreach (var item in ViewBag.Detail as List<SanPham>)
                                {
                                    <div class="col-sm-3">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <a href="@Url.Action("Detail", "Product", new { id = @item.MaSanPham})"><img src="~/Assets/Product/@item.MaSP/@item.URLAnhDaiDien" alt="" /></a>
                                                    <a href="@Url.Action("Detail", "Product", new { id = @item.MaSanPham})"><h4>@item.TenSanPham</h4></a>
                                                    <h4>@string.Format("{0:n0}", item.GiaSanPham) VNĐ</h4>
                                                    @if (Session["TenDangNhap"] != null)
                                                    {
                                                        <a href="@Url.Action("AddItem", "Cart", new { productId = @item.MaSanPham, quantity = 1 })" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                                    }
                                                    else
                                                    {
                                                        <a href="#" data-toggle="modal" data-target="#myModalLogin" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>

                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                </div>
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div><!--/recommended_items-->

            </div>
        </div>
    </div>
</section>