
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Trang chủ | ShopTheThao</title>
    <link href="/Assets/Client/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Assets/Client/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Assets/Client/css/prettyPhoto.css" rel="stylesheet">
    <link href="/Assets/Client/css/price-range.css" rel="stylesheet">
    <link href="/Assets/Client/css/animate.css" rel="stylesheet">
    <link href="/Assets/Client/css/main.css" rel="stylesheet">
    <link href="/Assets/Client/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Assets/Client/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Assets/Client/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Assets/Client/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/Assets/Client/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> +84 1629594513</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> info@shopthethao.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->
        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="@Url.Action("Index","Home")"><img src="/Assets/Client/images/home/logo.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">

                            <ul class="nav navbar-nav">

                                @if (Session["TenDangNhap"] != null)
                                {   
                                    <li>
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:white;padding:8px 12px;color:#696763;font-family:'Roboto', sans-serif;font-weight:300;padding-right:0px;"><i class="fa fa-user"></i> @Session["TenDangNhap"]</button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                                                <button onclick="location.href='@Url.Action("Info","Profile", new { ID = Session["MaTaiKhoan"]})'" class="form-control dropdown-item" type="button" style="border:0px">Thông tin tài khoản</button>
                                                <button onclick="location.href='@Url.Action("HistoryOrder","Profile", new { ID = Session["MaTaiKhoan"]})'" class="form-control dropdown-item" type="button" style="border:0px">Lịch sử mua hàng</button>
                                                <button onclick="location.href='@Url.Action("Logout", "Profile")'" class="form-control dropdown-item" type="button" id="Logout" style="border:0px">Đăng xuất</button>
                                            </div>
                                        </div>
                                    </li>
                                    <li><button onclick="location.href='@Url.Action("Index","Cart")'" type="button" class="btn" style="background-color:white;padding:8px 12px;color:#696763;font-family:'Roboto', sans-serif;font-weight:300;padding-right:0px;"><i class="fa fa-shopping-cart"></i> Giỏ hàng</button></li>
                                }
                                else
                                {
                                    <li><button type="button" data-toggle="modal" class="btn" data-target="#myModalRegis" style="background-color:white;padding:8px 12px;color:#696763;font-family:'Roboto', sans-serif;font-weight:300;padding-right:0px;"><i class="fa fa-user"></i> Đăng kí</button></li>
                                    <li><button type="button" data-toggle="modal" class="btn" data-target="#myModalLogin" style="background-color:white;padding:8px 12px;color:#696763;font-family:'Roboto', sans-serif;font-weight:300;padding-right:0px;"><i class="fa fa-lock"></i> Đăng nhập</button></li>
                                    <li><button type="button" data-toggle="modal" class="btn" data-target="#myModalLogin" style="background-color:white;padding:8px 12px;color:#696763;font-family:'Roboto', sans-serif;font-weight:300;padding-right:0px;"><i class="fa fa-shopping-cart"></i> Giỏ hàng</button></li>
                                }
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

        @Html.Partial("~/Views/Shared/_PartialModalLogin.cshtml")
        @Html.Partial("~/Views/Shared/_PartialModalRegister.cshtml")
        @Html.Partial("~/Views/Shared/_PartialModalNoti.cshtml")
  
        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="@Url.Action("Index", "Home")" class="active">Trang chủ</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Giới thiệu</a></li>
                                <li><a href="@Url.Action("Index", "Product")">Cửa hàng</a></li>
                                <li><a href="@Url.Action("Index", "Contact")">Liên hệ</a></li>
                                <li><a href="@Url.Action("Index", "Contact")">Góp ý</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">

                        @using (Html.BeginForm("Search", "Product", FormMethod.Get))
                        {
                            <div class="search_box pull-right">
                                <input type="text" name="Keyword" placeholder="Từ khoá tìm kiếm" /><button type="submit" style="height:35px;width:45px;border:0px;background:#FE980F;color:white;"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div><!--/header-bottom-->
    </header><!--/header-->
    <section>
        @RenderBody()
    </section>
    <footer id="footer">
        <!--Footer-->
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="companyinfo">
                            <h2><span>Shop</span>-thethao</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Giới thiệu</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Về Shopthethao</a></li>
                                <li><a href="#">Chính sách và quy định</a></li>
                                <li><a href="#">Chính sách bảo mật</a></li>
                                <li><a href="#">Sơ đồ Website</a></li>
                                <li><a href="#">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Trợ giúp</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Hướng dẫn mua hàng</a></li>
                                <li><a href="#">Hướng dẫn thanh toán</a></li>
                                <li><a href="#">Hướng dẫn đổi hàng</a></li>
                                <li><a href="#">Quy trình xử lý khiếu nại</a></li>
                                <li><a href="#">Tài khoản và đơn hàng</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Khách hàng</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Đăng kí tài khoản</a></li>
                                <li><a href="#">Đăng nhập</a></li>
                                <li><a href="#">Bảo mật thông tin</a></li>
                                <li><a href="#">Khuyến mãi</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <div class="single-widget">
                            <h2>Nhận thông báo</h2>
                            <form action="#" class="searchform">
                                <input type="text" placeholder="Xin vui lòng nhập Email" />
                                <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                                <p>Get the most recent updates from <br />our site and be updated your self...</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2017 SHOP-THETHAO Inc. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer><!--/Footer-->

    <script src="/Assets/Client/js/jquery.js"></script>
    <script src="/Assets/Client/js/bootstrap.min.js"></script>
    <script src="/Assets/Client/js/jquery.scrollUp.min.js"></script>
    <script src="/Assets/Client/js/price-range.js"></script>
    <script src="/Assets/Client/js/jquery.prettyPhoto.js"></script>
    <script src="/Assets/Client/js/main.js"></script>
    <script src="~/Assets/Client/js/validator.js"></script>
    <script src="~/Assets/Client/js/validator.min.js"></script>
    <script src="~/Assets/Client/js/Cart.js"></script>

    @if (Session["DangNhapThanhCong"] != null) 
    {
        <script>
            $('#SuLogin').modal('show')
        </script>
    }
    @if(Session["LoiDangNhap"] != null)
    {
    <script>
        $('#myModalLogin').modal('show')
    </script>
    }
    @if (Session["MailKhongTonTai"] != null)
    {
        <script>
        $('#myModalResetPass').modal('show')
        </script>
    }
    @if (Session["KTDangKy"] != null)
    {
        <script>
            $('#myModalRegis').modal('show')
        </script>
    }
    @if (Session["DangKyThanhCong"] != null)
    {
        <script>
            $('#SuRegis').modal('show')
        </script>
    }
    @if (Session["ThanhToanThanhCong"] != null)
    {
        <script>
            $('#SuPayment').modal('show')
        </script>
    }
    @if (Session["ThanhToanThatBai"] != null)
    {
        <script>
            $('#ErrPayment').modal('show')
        </script>
    }
    @if (Session["DoiThongTinThanhCong"] != null)
    {
        <script>
            $('#ChangeProfile').modal('show')
        </script>
    }
    @if (Session["DoiMatKhauThanhCong"] != null)
    {
        <script>
            $('#ChangePassword').modal('show')
        </script>
    }

    <script>
        $('#SuLogin').on('hide.bs.modal', function (e) {
            @{
                Session.Remove("DangNhapThanhCong");
            }
        })
        $('#myModalLogin').on('hide.bs.modal', function (e) {
            @{
                Session.Remove("LoiDangNhap");
            }
        })
        $('#myModalResetPass').on('hide.bs.modal', function (e) {
            @{
                Session.Remove("MailKhongTonTai");
            }
        })
        $('#myModalRegis').on('hide.bs.modal', function (e) {
            @{
                Session.Remove("KTDangKy");
            }
        })
        $('#SuRegis').on('hide.bs.modal', function (e) {
            @{
                Session.Remove("DangKyThanhCong");
            }
        })
        $('#SuPayment').on('hide.bs.modal', function (e) {
          @{
              Session.Remove("ThanhToanThanhCong");
         }
        })
        $('#ErrPayment').on('hide.bs.modal', function (e) {
          @{
              Session.Remove("ThanhToanThatBai");
          }
        })
        $('#ChangeProfile').on('hide.bs.modal', function (e) {
          @{
              Session.Remove("DoiThongTinThanhCong");
          }
        })
        $('#ChangePassword').on('hide.bs.modal', function (e) {
          @{
              Session.Remove("DoiMatKhauThanhCong");
          }
        })


    </script>
</body>
</html>

