@using shopthethao.Models
@model shopthethao.Models.DonDatHang

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="right_col" role="main">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-shopping-cart"></i> Đơn hàng mã @Model.MaDonDatHang
                <small class="pull-right">Hôm nay ngày: @DateTime.Now </small>
            </h2>
        </div>
    </div>

    <div class="row invoice-info">
        <div class="col-sm-6 invoice-col">
            <div class="panel panel-info">
                <div class="panel-heading"><h3 class="panel-title">Người giao</h3></div>
                <ul class="list-group">
                    <li class="list-group-item">Họ tên: @*@CurrentContext.GetCurAdmin().Name*@</li>
                    <li class="list-group-item">Email: @*@CurrentContext.GetCurAdmin().Email*@</li>
                    <li class="list-group-item">
                        Địa chỉ: Công ty TNHH shopthethao.com<br>
                    </li>
                    <li class="list-group-item">Số điện thoại: 0162 959 4513</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 invoice-col">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Người nhận</h3>
                </div>
                
                <ul class="list-group">
                    <li class="list-group-item">Họ tên: @Model.HoTenNhanHang</li>
                    <li class="list-group-item">Số điện thoại: @Model.DienThoaiNhanHang</li>
                    <li class="list-group-item">Email: @Model.EmailNhanhang</li>
                    <li class="list-group-item">Địa chỉ: @Model.DiaChiNhanHang</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel-heading">
            <h3 class="panel-title">Thông tin đơn hàng</h3>
        </div>
        <div class="col-xs-12 table-responsive">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Mã đơn hàng</th>
                            <th>Ngày đặt</th>
                            <th>Khách hàng</th>
                            <th>Số lượng</th>
                            <th>Tổng tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>@Model.MaDonDatHang</td>
                                <td>@Model.NgayLap</td>
                                <td>@Model.HoTenNhanHang</td>
                                <td>@Model.ChiTietDonDatHangs.Count()</td>
                                <td>@string.Format("{0:n0}", Model.TongThanhTien) &#x20ab;</td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel-heading">
            <h3 class="panel-title">Chi tiết đơn hàng</h3>
        </div>
        <div class="col-xs-12 table-responsive">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="30%">Tên sản phẩm</th>
                            <th width="5%">Hình ảnh</th>
                            <th width="5%">Số lượng</th>
                            <th width="8%">Giá bán</th>
                            <th width="10%">Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ 
                            var id = Model.MaDonDatHang;
                            var list = Model.ChiTietDonDatHangs.Where(x => x.MaDonDatHang == id).ToList();
                        }
                        @foreach (var item in list as List<ChiTietDonDatHang>)
                        {
                            <tr>
                                <td>@item.SanPham.TenSanPham</td>
                                <td>
                                    <img src="~/Assets/HinhAnh/@item.SanPham.MaSP/@item.SanPham.URLAnhDaiDien" alt="" class="img-responsive" style="width: 40px; height: 40px;">
                                </td>
                                <td>@item.SoLuong</td>
                                <td>@string.Format("{0:n0}", item.SanPham.GiaSanPham) &#x20ab;</td>
                                <td>@string.Format("{0:n0}", item.SoLuong * item.SanPham.GiaSanPham) &#x20ab;</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row no-print">
        <div class="col-md-10">
            
                <a id="inhoadon" class="btn btn-default" onclick="window.print()">
                    <i class="fa fa-print"></i>
                    In hóa đơn
                </a>
            
        </div>

        @*@if (Model.TrangThai != 4)
        {
            <div class="col-md-1">
                @if (Model.TrangThai != 2)
                {
                    <a href="@Url.Action("GiaoHang", "DonHang", new {id = @Model.ID})" type="button" class="btn btn-primary pull-right">Giao hàng</a>
                }
            </div>

            <div class="col-md-1">
                @if (Model.TrangThai != 3)
                {
                    <a href="@Url.Action("ThanhToan", "DonHang", new {id = @Model.ID})" type="button" class="btn btn-success pull-right">Thanh toán</a>
                }
            </div>
        @**@
    </div>
</section>

